.loandetailsmaincontainer {
    background-color: #FFFFFF;
}

.custom-switch.checked .ant-switch-handle::before {
    background-color: #32B586;


    /* Change the switch handle color to green when switch is toggled */
}

.yes-text {
    color: #32B586;

    /* Change the color of the "yes" text to green */
}





.loandetails-header-container {

    box-shadow: 0px 2px 4px rgba(145, 143, 143, 0.098);
    height: 75px;
    /* Adjust the shadow properties as needed */
}

.loandetails_header_img {
    margin-left: 84%;
    margin-top: 19px;
    width: 64px;
    height: 56px;

}

.loandetailscontainer1 {

    height: 725px;
    background-image: url('../Group_89603.png'), url('../backgroundsideimg.png');
    background-position: bottom center, 5px bottom;
    background-repeat: repeat, no-repeat;
    background-size: cover, auto 60%;
    display: flex;
    background-color: #D1F5EA1A;
    margin-left: 12%;
    margin-right: 12%;

}

.loandetailsimageCalculator {
    margin-top: 120px;
}

.loandetails_h1 {
    text-align: left;
    font: normal normal bold 32px/39px;
    letter-spacing: 0px;
    color: #06041F;

}

.loandetails_p {
    text-align: left;
    font: normal normal normal 16px/19px;
    letter-spacing: 0px;
    color: #06041F;
    opacity: 0.5;
}

.loandetailsrootGrid {
    height: 100vh;
    padding: 2%;
}

.loandetailsinputField .gstinMuiInputBase-input {
    padding: 5%;
    margin: 0%;


}


.loandetailscinimg {
    margin: 52px 0px 0px 0px;

}

.loandetailsleftContainer {
    text-align: center;
}

.loandetailsrightContainer {
    padding-right: 2rem;
}




.loandetailsstatusBar1 {

    height: 10px;
    display: inline-block;
    width: 30%;
    border: solid;
    border-color: #47d7ac;
    border-radius: 5px;
    background-color: #47d7ac;
    z-index: 99;
}


.loandetailsstatusBar2 {
    height: 10px;
    display: inline-block;
    width: 70%;
    border: solid;
    border-color: #c4c9d2;
    background-color: #c4c9d2;
    border-radius: 5px;
    transform: translate(-10px);
    z-index: -1;
}

.loandetailscardsection1{
    display: flex;
}
.loandetailscardcontainer {
    margin-top: 20px;

}

.loandetails_card1 {
    /* Add common card styles here */
    transition: border-color 0.10s;
    cursor: pointer;
    border: 3px solid transparent;
    margin: 5px;
    width: 145px;
    height: 124px;

}

.loandetailscardcontent {
    margin-left: 10px;
}


.loandetails_card1:hover {
    border-color: #47D7AC;
}
.loandetailscardsection2 {
    display: flex;
}
.loandetails_card2 {
    /* Add common card styles here */
    transition: border-color 0.10s;
    cursor: pointer;
    border: 3px solid transparent;
    margin: 5px;
    width: 186px;
    height: 186px;

}
.loandetails_card2:hover {
    border-color: #47D7AC;
}
.loandetails_cardimg1{
    width: 80px;
    height: 80px;
    margin-top: 10px;
}
.loandetailssubmitButtonDiv {
    margin-top: 2rem;
    margin-bottom: 2rem;

}

.loandetailsbtn {

    width: 154px;
    height: 50px;
    background: transparent linear-gradient(90deg, #88C3AE 0%, #32B586 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 12px 4px 12px 4px !important;
    border: #32B586;
    color: #FFFFFF;

    /* Remove text transformation */

    font-size: 25px;
    text-align: center;
    /* Add text alignment */

    /* Capitalize the first letter */

}


