
.loginmaincontainer {
    background-color: #FFFFFF;
}


.login-header-container {

    box-shadow: 0px 2px 4px rgba(145, 143, 143, 0.098);
    height: 75px;
    /* Adjust the shadow properties as needed */
}
.login_header_img{   
        margin-left: 84%;     
        margin-top: 19px;
        width: 64px;
        height: 56px;

}

.logincontainer1 {

    height: 90vh;
background-image: url('../Group_89603.png'), url('../backgroundsideimg.png');
    background-position: bottom center, 80px bottom;
    background-repeat: repeat, no-repeat;
    background-size: cover, auto 60%;
    display: flex;
    background-color: #D1F5EA1A;
    margin-left: 12%;
    margin-right: 12%;

}





.login_img {
   
    position: absolute;
    margin-top: 5%;
    margin-left: 20%;
    width: 369px;
    height: 359px;
    transform: translate(-40%);
    padding: 20px;
}
.login_h1 {
    text-align: left;
        font: normal normal bold 32px/39px ;
        letter-spacing: 0px;
        color: #06041F;
        
}
.login_p{
    text-align: left;
        font: normal normal normal 16px/19px ;
        letter-spacing: 0px;
        color: #06041F;
        opacity: 0.5;
}
.login_textfield {
    width: 429px !important;
    
    
     background-color: white
    
}
.login_textfield::-webkit-outer-spin-button,

input::-webkit-inner-spin-button {

    -webkit-appearance: none;

    margin: 0;

}


.login_div_textfield{
    margin-top: 25px;
    
}

.login_div_text {
    margin-top: 25%;
}
.login_p_textfield{
text-align: left;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
        
}



.loginbtn {

    width: 250px;
        height: 40px;
        background: transparent linear-gradient(90deg, #88C3AE 0%, #32B586 100%) 0% 0% no-repeat padding-box;
        opacity: 1;
        border-radius: 12px 4px 12px 4px !important;
        border: #32B586;
        color: #FFFFFF;
        /* Remove text transformation */
        
        font-size: 16px;
        text-align: center;
        /* Add text alignment */
        
        /* Capitalize the first letter */

}







.login_div_btn {
    margin-top: 5%;
}



.gridContainer {
    border: none;
    box-shadow: none;
    background-color: transparent;
    padding: 0px;
}

.gridContainer>.MuiGrid-item {
    border: none;
}




@media(max-width: 900px){

    .loginmaincontainer {
            background-color: #FFFFFF;
            height: 100%;
        }
    
    
        .login-header-container {
    
            display: none;
        }
    
        .login_header_img {
            margin-left: 84%;
            margin-top: 19px;
            width: 64px;
            height: 56px;
    
        }
    
        .logincontainer1 {
    
            height: 725px;
            background-image: url('../Group_89603.png');
            background-position: bottom center;
            background-size: cover, auto 100%;
            display: flex;
            background-color: #D1F5EA1A;
            margin-left: 12%;
            margin-right: 12%;
    
        }
    
    
    
    
    
        .login_img {
    
            position: absolute;
            margin-top: 5px;
            margin-left: 25%;
            width: 150x;
            height: 200px;
            transform: translate(-40%);
            padding: 20px;
        }
    
        .login_h1 {
            text-align: left;
    
            font-size: 22px;
            letter-spacing: 0px;
            color: #06041F;
    
        }
    
        .login_p {
            text-align: left;
            font-size: 12px;
            letter-spacing: 0px;
            color: #06041F;
            opacity: 0.5;
        }
    
        .login_textfield {
            width: 100% !important;
    
    
            background-color: white
        }
    
        .login_div_textfield {
            margin-top: 10px
        }
    
        .login_div_text {
            margin-top: 40px;
        }
    
        .login_p_textfield {
            text-align: left;
            font-weight: bold;
            font-size: 14px;
            line-height: 17px;
            color: #000000;
    
        }
    
    
    
        .loginbtn {
    
            width: 100%;
            height: 40px;
            background: transparent linear-gradient(90deg, #88C3AE 0%, #32B586 100%) 0% 0% no-repeat padding-box;
            opacity: 1;
            border-radius: 12px 4px 12px 4px !important;
            border: #32B586;
            color: #FFFFFF;
            /* Remove text transformation */
    
            font-size: 16px;
            text-align: center;
            /* Add text alignment */
    
            /* Capitalize the first letter */
    
        }
    
    
    
    
    
    
    
        .login_div_btn {
            margin-top: 80px;
        }
    
    
    
        .gridContainer {
            border: none;
            box-shadow: none;
            background-color: transparent;
            padding: 0px;
        }
    
        .gridContainer>.MuiGrid-item {
            border: none;
        }


}








@media(max-width: 600px) {

    .loginmaincontainer {
            background-color: #FFFFFF;
            height: 100%;
        }
    
    
        .login-header-container {
            
            display: none;
        }
    
        .login_header_img {
            margin-left: 84%;
            margin-top: 19px;
            width: 64px;
            height: 56px;
    
        }
    
        .logincontainer1 {
    
            height: 650px;
            background-image: url('../Group_89603.png');
            background-position: bottom center;
            background-size: cover, auto 100%;
            display: flex;
            background-color: #D1F5EA1A;
            margin-left: 12%;
            margin-right: 12%;
    
        }
    
    
    
    
    
        .login_img {
    
            position: absolute;
            margin-top: 5px;
            margin-left: 25%;
            width: 150x;
            height: 200px;
            transform: translate(-40%);
            padding: 20px;
        }
    
        .login_h1 {
            text-align: left;

            font-size: 22px;
            letter-spacing: 0px;
            color: #06041F;
    
        }
    
        .login_p {
            text-align: left;
            font-size: 12px;
            letter-spacing: 0px;
            color: #06041F;
            opacity: 0.5;
        }
    
        .login_textfield {
            width: 100% !important;
            
    
            background-color: white
        }
    
        .login_div_textfield {
            margin-top: 10px
    
        }
    
        .login_div_text {
            margin-top: 40px;
        }
    
        .login_p_textfield {
            text-align: left;
            font-weight: bold;
            font-size: 14px;
            line-height: 17px;
            color: #000000;
    
        }
    
    
    
        .loginbtn {
    
            width: 100%;
            height: 40px;
            background: transparent linear-gradient(90deg, #88C3AE 0%, #32B586 100%) 0% 0% no-repeat padding-box;
            opacity: 1;
            border-radius: 12px 4px 12px 4px !important;
            border: #32B586;
            color: #FFFFFF;
            /* Remove text transformation */
    
            font-size: 16px;
            text-align: center;
            /* Add text alignment */
    
            /* Capitalize the first letter */
    
        }
    
    
    
    
    
    
    
        .login_div_btn {
            margin-top: 80px;
        }
    
    
    
        .gridContainer {
            border: none;
            box-shadow: none;
            background-color: transparent;
            padding: 0px;
        }
    
        .gridContainer>.MuiGrid-item {
            border: none;
        }
}